<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <salesigniter_rental>
            <calendar_options>
                <calendar_type>regular</calendar_type>
                <theme_style>default</theme_style>
                <fixed_type>disabled</fixed_type>
                <style>default</style>
                <datepicker_months>[1,1]</datepicker_months>
                <always_show>0</always_show>
                <same_dates_enforce>1</same_dates_enforce>
                <keep_selected_dates>1</keep_selected_dates>
                <global_dates_pricing_on_listing>normal</global_dates_pricing_on_listing>
            </calendar_options>
            <global_dates>
                <global_type>left</global_type>
                <show_availability_on_listing>1</show_availability_on_listing>
                <hide_products_not_available>0</hide_products_not_available>
                <calendar_detailspage>0</calendar_detailspage>
            </global_dates>
            <min_max>
                <future_limit>0d</future_limit>
                <min_period>0d</min_period>
                <max_period_>0d</max_period_>
                <show_min_max_details>0</show_min_max_details>
            </min_max>
            <turnover>
                <padding>0d</padding>
                <turnover_before>0d</turnover_before>
                <turnover_after>0d</turnover_after>
            </turnover>
            <inventory>
                <reserve_inventory_early_send_date>1</reserve_inventory_early_send_date>
                <reserve_inventory_early_return_date>1</reserve_inventory_early_return_date>
                <reserve_inventory_status>noInvoice</reserve_inventory_status>
                <allow_overbooking>0</allow_overbooking>
                <admin_allow_overbooking>1</admin_allow_overbooking>
                <admin_show_warning_overbooking>1</admin_show_warning_overbooking>
            </inventory>
            <price>
                <grid_points>1</grid_points>
            </price>
            <deposit_damage>
                <damagewaiver_order_or_product>order</damagewaiver_order_or_product>
                <global_damagewaiver>0</global_damagewaiver>
                <damagedeposit_order_or_product>order</damagedeposit_order_or_product>
                <global_damagedeposit>0</global_damagedeposit>
            </deposit_damage>
            <deposit_damage>
            </deposit_damage>
            <extend_order>
                <enable_extend>0</enable_extend>
                <max_extension_period_number>0</max_extension_period_number>
                <max_extension_period_type>3</max_extension_period_type>
            </extend_order>
            <listing>
                <sort_list_price_period>1</sort_list_price_period>
                <sort_list_price_type>1</sort_list_price_type>
                <price_points>3</price_points>
                <next_available_date>0</next_available_date>
                <price_as_table_product_view>0</price_as_table_product_view>
                <show_buyout_price>0</show_buyout_price>
                <hide_time_periods_numbers>0</hide_time_periods_numbers>
            </listing>
            <details>
                <price_points>-1</price_points>
                <next_available_date>1</next_available_date>
            </details>
            <store_hours>
                <hour_next_day>17,00,00</hour_next_day>
                <hotel_mode>0</hotel_mode>
                <time_increment>60</time_increment>
                <time_type_ampm>1</time_type_ampm>
                <disabled_days_week_start>0</disabled_days_week_start>
                <disabled_days_week_end>0</disabled_days_week_end>
                <disabled_days_week>0</disabled_days_week>
                <disabled_days_week_from>calendar</disabled_days_week_from>
                <store_open_time>10,00,00</store_open_time>
                <store_close_time>17,00,00</store_close_time>
                <global_exclude_dates>a:0:{}</global_exclude_dates>
            </store_hours>
            <emails>
                <return_reminder_enable>0</return_reminder_enable>
                <return_reminder_days>1</return_reminder_days>
                <return_reminder_template>salesigniter_rental_emails_return_reminder_template</return_reminder_template>
                <return_enable>0</return_enable>
                <return_confirmation_template>salesigniter_rental_emails_return_confirmation_template</return_confirmation_template>
                <overdue_reminder_enable>0</overdue_reminder_enable>
                <overdue_reminder_template>salesigniter_rental_emails_overdue_reminder_template</overdue_reminder_template>
            </emails>
            <admin_email_report>
                <template>salesigniter_rental_admin_email_report_template</template>
                <email_address></email_address>
                <include_late>1</include_late>
                <include_ship>1</include_ship>
                <include_return>1</include_return>
            </admin_email_report>
        </salesigniter_rental>
    </default>
</config>
