<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Rental Parent -->
        <add id="SalesIgniter_Rental::rental" title="Rentals" module="SalesIgniter_Rental"
             resource="SalesIgniter_Rental::rental" sortOrder="21"/>

        <!-- General Sub-Menu -->
        <add id="SalesIgniter_Rental::general" title="General" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental"
             resource="SalesIgniter_Rental::rental" sortOrder="10"/>
        <add id="SalesIgniter_Rental::manualedit" title="Manually Reserve Inventory" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::general" resource="SalesIgniter_Rental::rental" action="salesigniter_rental/manualedit/index" sortOrder="10"/>
        <add id="SalesIgniter_Rental::fixeddates" title="Predetermined Dates(Experimental)" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::general" resource="SalesIgniter_Rental::rental" action="salesigniter_rental/fixeddates/index" sortOrder="10"/>
        <add id="SalesIgniter_Rental::settings" title="Settings" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::general" resource="SalesIgniter_Rental::rental" action="adminhtml/system_config/edit/section/salesigniter_rental/" sortOrder="20"/>

        <!-- Reservations Sub-Menu -->
        <add id="SalesIgniter_Rental::rental_reservations" title="Send and Return" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental"
             resource="SalesIgniter_Rental::rental" sortOrder="20"/>
        <add id="SalesIgniter_Rental::send" title="Send Rentals" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental_reservations" resource="SalesIgniter_Rental::rental" action="salesigniter_rental/send/index"/>
        <add id="SalesIgniter_Rental::return" title="Return Rentals" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental_reservations" resource="SalesIgniter_Rental::rental" action="salesigniter_rental/returns/index"/>
        <add id="SalesIgniter_Rental::sendhistory" title="Send Rentals History" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental_reservations" resource="SalesIgniter_Rental::rental" action="salesigniter_rental/sendhistory/index"/>
        <add id="SalesIgniter_Rental::returnhistory" title="Return Rentals History" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental_reservations" resource="SalesIgniter_Rental::rental" action="salesigniter_rental/returnhistory/index"/>

        <!-- Reports Sub-Menu -->
        <add id="SalesIgniter_Rental::reports" title="Reports" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::rental" resource="SalesIgniter_Rental::rental" sortOrder="30"/>
        <!--<add id="SalesIgniter_Rental::most_rented" title="Most Rented" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::reports" resource="SalesIgniter_Rental::rental"/>-->
        <!--<add id="SalesIgniter_Rental::low_inventory" title="Low Inventory" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::reports" resource="SalesIgniter_Rental::rental"/>-->
        <!--<add id="SalesIgniter_Rental::roi" title="ROI" module="SalesIgniter_Rental" parent="SalesIgniter_Rental::reports" resource="SalesIgniter_Rental::rental"/>-->
        <add
                id="SalesIgniter_Rental::report_inventory"
                title="Inventory Report"
                module="SalesIgniter_Rental"
                parent="SalesIgniter_Rental::reports"
                resource="SalesIgniter_Rental::rental"
                action="salesigniter_rental/report/inventory"
        />
        <add
                id="SalesIgniter_Rental::serial"
                title="Serial Number Report"
                module="SalesIgniter_Rental"
                parent="SalesIgniter_Rental::reports"
                resource="SalesIgniter_Rental::rental"
                action="salesigniter_rental/report/serialnumber"
        />

        <!-- Rental Calendar Sub-Menu -->
        <add
                id="SalesIgniter_Rental::rental_calendar"
                title="Rental Calendar"
                module="SalesIgniter_Rental"
                parent="SalesIgniter_Rental::rental"
                resource="SalesIgniter_Rental::rental"
                sortOrder="40"
        />
        <add
                id="SalesIgniter_Rental::rental_calendar_byorder"
                title="By Order"
                module="SalesIgniter_Rental"
                parent="SalesIgniter_Rental::rental_calendar"
                resource="SalesIgniter_Rental::rental"
                action="salesigniter_rental/calendar/index/renderer/byorder"
        />
        <add
                id="SalesIgniter_Rental::rental_calendar_bydate"
                title="By Start/End Date"
                module="SalesIgniter_Rental"
                parent="SalesIgniter_Rental::rental_calendar"
                resource="SalesIgniter_Rental::rental"
                action="salesigniter_rental/calendar/index/renderer/bydate"
        />

    </menu>
</config>
